
:root {

  --vdg:hsl(0, 0%, 17%);
  --dg:hsl(0, 0%, 59%);
}

*,html,body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

.mt{
  margin-top: 20px;

}

#root{
  height: 100%;
}

#map{
height: calc(100vh - 300px);
}

.leaflet-container{
  height: 100%;
}
